/*Universal styling*/

* {
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 240px 50px 510px 50px 1fr 1fr 1fr;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

/*Navigation Bar styling*/

.admin-check {
  width: 172px;
}

.calendar-btn {
  width: 138px;
}

.design-check {
  width: 116px;
}

.down-arrow {
  height: 12px;
  width: 12px;
}

.executive-check {
  width: 136px;
}

.first-menu,
.second-menu {
  border-bottom: solid 1px;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-around;
  padding-left: 20px;
}

.home-btn {
  width: 100px;
}

.hr-check {
  width: 202px;
}

.job-boards-btn {
  width: 158px;
}

.jobs-btn {
  width: 90px;
}

.locations-btn {
  width: 150px;
}

.menu-btn {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.menu-headers {
  color: #A2ABBD;
}

.menu-image {
  height: 25px;
  width: 25px;
}

.menu-image:hover {
  filter: brightness(100)
}

.menu-image:hover + .nav-items {
  filter: brightness(100)
}

.name-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 164px;
}

.name-title {
  color: #A2ABBD;
  font-size: 1rem;
}

.navigation-sidebar {
  background-color: #374050;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 9;
  padding: 40px 0 0 0;
}

.nav-items {
  color: #A2ABBD;
  font-size: 1rem;
  margin: 0;
}

.nav-profile-area {
  align-items: center;
  border-bottom: solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.not-checkbox-header {
  margin-bottom: 0;
}

.profile-pic {
  border-radius: 150%;
  width: 124px;
}

.resumes-btn {
  width: 126px;
}

.social-btn {
  width: 116px;
}

.tasks-btn {
  width: 100px;
}

.third-menu {
  border-bottom: solid 1px;
  height: 250px;
  padding-left: 20px;
}

.users-btn {
  width: 110px;
}

.workflows-btn {
  width: 160px;
}

/*Search Bar area*/

.icon-box {
  align-items: center;
  border: solid 1px #f3f3f3;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 140px;
}

.icon-box:hover {
  background-color: #47A3F3;
  border:  solid 1px #47A3F3;
}

.icon-box:hover .search-icons {
  filter: brightness(100)
}

.search-bar {
  background-image: url('Images/001-magnifying-glass.svg');
  background-repeat: no-repeat;
  background-position: 20px 35px;
  background-size: 30px 30px;
  font-size: 1.5rem;
  height: 100px;
  text-indent: 66px;
  width: 100%;
}

.search-bar::placeholder {
  color: #A2ABBD;
  font-family: 'Open Sans', sans-serif;;
}

.search-icons {
  height: 30px;
  width: 30px;
}

.search-menu {
  align-items: center;
  display: flex;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: space-around;
}

/*Job Title area*/

.button-head {
  background-color: #ffffff;
  border: solid 2px #E1E1E3;
  border-radius: 150%;
  height: 50px;
  width: 50px;
}

.button-head:hover {
  background-color: #47A3F3;
  border: solid 2px #47A3F3;
  color: #ffffff;
}

.button-head:hover .button-icon {
  filter: brightness(100)
}

.button-icon {
  height: 20px;
  width: 20px;
}

.green-circle {
  height: 20px;
  margin-right: 7px;
  width: 15px;
}

.header-buttons {
  align-items: center;
  display: flex;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  justify-content: space-around;
  margin-left: 68px;
  width: 362px;;
}

.headline-area {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.job-location {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  justify-content: center;
  padding-left: 60px;
  width: 60%;
}

.location-indicator {
  height: 20px;
  margin-right: 8px;
  width: 20px;
}

.location-text {
  display: flex;
  color: #A2ABBD;
  justify-content: space-between;
  margin: 0;
  width: 260px;
}

.open-button {
  border-radius: 30px;
  display: flex;
  font-size: 1rem;
  height: 50px;
  justify-content: center;
  width: 118px;
}

.preview-text {
  color: #47A3F3;
}

.user-location {
  align-items: center;
  display: flex;
}

/*Heading Tab buttons*/

.body-nav-tabs {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-content: flex-start;
  padding-left: 54px;
}

.job-right-arrow {
  display: none;
  height: 20px;
  width: 20px;
}

.nav-tab {
  align-items: center;
  color: #A2ABBD;
  display: flex;
  font-weight: 700;
  justify-content: center;
  width: 125px;
}

.nav-tab:hover {
  background-color: #47A3F3;
  border:  solid 1px #47A3F3;
}

.nav-tab:hover .broadcast-text {
  filter: brightness(100)
}

.nav-tab:hover .nav-text {
  filter: brightness(100)
}

.notifications-tab {
  margin-left: 30px;
}

.notifications-tab:hover {
  width: 138px;
}

.right-arrow {
  display: none;
  height: 20px;
  width: 20px;
}

.summary-tab {
  color: #000000;
  border-bottom: solid 4px #47A3F3;
  margin-left: 10px;
  margin-right: 30px;
  width: 76px;
}

.summary-tab:hover {
  background-color: #47A3F3;
  border:  solid 1px #47A3F3;
  color: #ffffff;
  margin-left: 0;
  margin-right: 14px;
  width: 102px;
}

/*Graphs area*/

.bar-caption {
  width: 186px;
}

.bar-graph-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  justify-content: space-around;
  width: 43%;
}

.captions {
  background-color: #FFFFFF;
  border: solid 2px #E1E1E3;
  border-radius: 30px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}

.circle-caption {
  width: 270px;
}

.circle-graph-box {
  align-items: center;
  display: flex;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  flex-direction: column;
  justify-content: space-around;
  width: 57%;
}

.circle-graphs {
  height: 260px;
  width: 660px;
}

.graph-area {
  align-items: center;
  background-color: #EEF2F6;
  display: flex;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}

.graph-box {
  height: 430px;
}

/*Horizontal Break area*/

.border-break {
  background-color: #EEF2F6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}

.horizontal-break {
  color: #A2ABBD;
  margin-top: 12px;
  width: 528px;
}

.up-arrow {
  background-color: #ffffff;
  border-radius: 150%;
  height: 40px;
  margin-left: 14px;
  margin-right: 14px;
  width: 40px;
}

.up-arrow:hover {
  background-color: #020202;
  filter: brightness(100);
}

/*Job Description box*/

.approved-salary-box {
  align-items: center;
  color: #717E93;
  display: flex;
  font-weight: 700;
  height: 120px;
}

.approved-title {
  margin-left: 0;
  margin-right: 28px;
}

.bottom-half-container {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
}

.description-body {
  margin-left: 22px;
}

.description-box {
  align-items: center;
  background-color: #ffffff;
  border-bottom: solid 1px #E1E1E3;
  color: #717E93;
  display: flex;
  font-weight: 700;
  height: 160px;
}

.edit-button {
  align-content: center;
  background-color: #7F8BA3;
  border: solid 1px #ffffff;
  color: #ffffff;
  display: flex;
  height: 34px;
  width: 76px;
}

.edit-button:hover {
  background-color: #ededed;
  color: #000000;
}

.edit-button:hover .edit-pencil {
  filter: brightness(0)
}

.edit-pencil {
  margin-right: 5px;
}

.employment-title {
  margin-left: 0;
  margin-right: 18px;
}

.experience-body {
  margin-left: 32px;
}

.info-body-container {
  background-color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
}

.info-title {
  margin-left: 0;
  margin-right: 46px;
}

.job-description-box {
  background-color: #EEF2F6;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.job-description-text {
  color: #ffffff;
  font-weight: 700;
  margin-left: 40px;
  margin-right: 30px;
}

.job-details {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
  margin: 40px;
}

.job-details-header {
  align-items: center;
  background-color: #717E93;
  display: flex;
  height: 78px;
  justify-content: flex-start;
}

.job-info-box {
  align-items: center;
  border-bottom: solid 1px #E1E1E3;
  color: #717E93;
  display: flex;
  font-weight: 700;
  height: 120px;
}

.location-body {
  margin-left: 42px;
}

.reynholm-logo {
  border: solid 2px #717E93;
  border-radius: 150%;
  height: 60px;
  margin-left: 24px;
  margin-right: 26px;
  width: 60px;
}

.status-body {
  margin-left: 70px;
}

/*Social Media buttons*/

.facebook {
  background-color: #5070BA;
}

.facebook,
.twitter,
.linkedin {
  align-items: center;
  border: none;
  color: #ffffff;
  display: flex;
  height: 54px;
  justify-content: flex-start;
  width: 412px;
}

.facebook:hover,
.twitter:hover,
.linkedin:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
}

.facebook:hover .media-logo,
.twitter:hover .twitter-logo,
.linkedin:hover .media-logo {
  filter: brightness(0);
}

.linkedin {
  background-color: #0077B5;
}

.media-logo {
  height: 20px;
  margin-left: 20px;
  margin-right: 100px;
  width: 20px;
}

.social-media-area {
  background-color: #EEF2F6;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
}

.social-media-links {
  display: flex;
  flex-direction: column;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
  height: 240px;
  margin: 30px;
  justify-content: space-around;
}

.twitter {
  background-color: #1DCAFF;
}

.twitter-logo {
  height: 20px;
  margin-left: 20px;
  margin-right: 110px;
  width: 20px;
}

/*Link Boxes area*/

.bottom-half-link {
  margin-top: 26px;
}

.copy-button {
  background-color: #65BABC;
  border: none;
  color: #ffffff;
  width: 80px;
}

.copy-button:hover {
  background-color: #ffffff;
  border: solid 1px #000000;
  color: #000000;
}

.e-link,
.email,
.link {
  margin-left: 32px;
}

.email-box {
  background-color: #ffffff;
  border: solid 1px #ffffff;
  width: 412px;
}

.link-job-box {
  display: flex;
  flex-direction: column;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 9;
  height: 790px;
  justify-content: space-around;
  margin: 30px;
}

.link-p {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 412px;
}

.links-area {
  border-bottom: solid 2px #E1E1E3;
  display: flex;
  flex-direction: column;
  height: 240px;
  justify-content: space-around;
}

.links-area-bottom {
  display: flex;
  flex-direction: column;
  height: 240px;
  justify-content: space-around;
}

.links-head {
  font-size: 1.5rem;
  margin: 0;
}

.links-icon {
  height: 24px;
  margin-right: 10px;
  width: 24px;
}

.links-text {
  width: 412px;
}

.link-titles {
  align-items: center;
  display: flex;
}

.secondary-link-text {
  display: none;
  margin-left: 20px;
}

@media screen and (max-width: 1387px) {
 
body {
  grid-template-rows: 100px 240px 50px 650px 50px 1fr 1fr 1fr;
}

.graph-box {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}

.graph-area {
  flex-direction: column;
}

}

@media screen and (max-width: 1368px) {

.header-buttons {
  margin-left: 48px;
}

.description-box {
  height: 204px;
}

.link-job-box {
  height: 820px;
}

.social-media-links {
  height: 260px;
}

}

@media screen and (max-width: 1306px) {

.description-box {
  height: 260px;
}

.link-job-box {
    height: 850px;
}

.social-media-links {
    height: 280px;
}

}

@media screen and (max-width: 1299px) {

.header-buttons {
  margin-left: 15px;
}

}

@media screen and (max-width: 1231px) {

.description-box {
  height: 310px;
}

.link-job-box {
    height: 880px;
}
 
.social-media-links {
    height: 300px;
}

}

@media screen and (max-width: 1217px) {

.header-buttons {
  margin-left: 0;
}

}

@media screen and (max-width: 1196px) {

.bottom-half-container {
  flex-direction: column;
}

.email-box {
  width: 100%;
}

.facebook, .twitter, .linkedin {
  width: 80%;
}

.job-description-box {
  background-color: #EEF2F6;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
}

.link-job-box {
  align-items: center;
}

.links-area,
.links-area-bottom {
  width: 80%;
}

.link-p {
  width: 100%;
}

.links-text {
  width: 100%;
}

.media-logo {
  margin-right: 35%;
}

.social-media-area {
  background-color: #EEF2F6;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
}

.social-media-links {
  align-items: center;
}

.twitter-logo {
  margin-right: 36%;
}

}

@media screen and (max-width: 1182px) {

.broadcast-text,
.notifications-tab {
  display: none;
}  

.nav-tab:hover .right-arrow {
  filter: brightness(100)
}

.right-arrow {
  display: block;
}

}

@media screen and (max-width: 1080px) {

.header-buttons {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}

.headline-area {
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.job-location {
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 0;
}

}

@media screen and (max-width: 954px) {

.body-nav-tabs {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-content: center;
}

.border-break {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}

.bottom-half-container {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
}

.graph-area {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}

.headline-area {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.interviews-btn,
.activity-btn,
.broadcast-btn,
.job-board-text,
.navigation-sidebar {
  display: none;
}

.job-right-arrow {
  display: block;
}

.nav-tab:hover .job-right-arrow {
  filter: brightness(100)
}

.search-menu {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

}

@media screen and (max-width: 790px) {

.media-logo {
  margin-right: 32%;
}

.twitter-logo {
  margin-right: 34%;
}

}

@media screen and (max-width: 700px) {

.circle-graphs {
  height: 220px;
  width: 550px;
}

}

@media screen and (max-width: 688px) {

.header-title {
  text-align: center;
}

}

@media screen and (max-width: 620px) {

.job-location {
  width: 300px;
}

.media-logo {
  margin-right: 27%;
}

.twitter-logo {
  margin-right: 29%;
}

}

@media screen and (max-width: 600px) {

.circle-graphs {
  height: 208px;
  width: 500px;
}

}

@media screen and (max-width: 540px) {

.approved-salary-box,
.job-info-box,
.description-box {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.approved-title,
.employment-title,
.info-title {
  margin-right: 0;
}

.description-body {
  text-align: left;
}

.description-body,
.experience-body,
.location-body,
.status-body {
  margin-left: 0;
}

.hiring-lead-box {
  height: 182px;
}

}

@media screen and (max-width: 526px) {

.graph-box {
 height: 320px;
}

.bar-graph-img {
  width: 350px;
}

.circle-graphs {
  height: 170px;
  width: 420px;
}

.copy-button {
  height: 90px;
}

.e-link {
  display: none;
}

.email {
  margin-left: 20px;
  margin-top: 30px;
}

.link {
  margin-left: 20px;
}

.email-box,
.link-p {
  align-items: center;
  height: 90px;
}

.secondary-link-text {
  display: block;
}

}

@media screen and (max-width: 500px) {

.media-logo {
  margin-right: 25%;
}

.twitter-logo {
  margin-right: 27%;
}

}

@media screen and (max-width : 440px) {

.links-head {
  font-size: 1.25rem;
}

}

@media screen and (max-width : 430px) {

body {
  grid-template-rows: 100px 240px 50px 580px 50px 1fr 1fr 1fr;
}

.bar-graph-img {
  width: 322px;
}

.body-nav-tabs {
  padding-left: 0;
}

.circle-graphs {
  height: 154px;
  width: 348px;
}

.graph-box {
  height: 272px;
}

}

@media screen and (max-width : 380px) {

.bottom-half-link {
  margin-top: 0;
}

.header-buttons {
  width: 302px;
}

.job-details-header {
  flex-direction: column;
  height: 102px;
}

.link-titles {
  margin-bottom: 14px;
}

.widget-head {
  margin-top: 0;
}

}

@media screen and (max-width: 370px) {

.description-box {
  height: 370px;
}

.facebook,
.twitter,
.linkedin {
  width: 100%;
}

.links-area {
  width: 100%;
}

.links-area-bottom {
  width: 100%;
}

.job-details {
  margin: 30px;
}

}

@media screen and (max-width : 350px)  {

body {
  grid-template-rows: 100px 240px 50px 560px 50px 1fr 1fr 1fr;
}

.bar-graph-img {
    width: 280px;
}

.circle-graphs {
  height: 140px;
  margin-top: 10px;
  width: 300px;
}

}

@media screen and (max-width: 329px) {

.description-box {
  height: 390px;
}

}







