body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 240px 50px 510px 50px 1fr;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

.admin-check {
  width: 172px;
}

.bar-caption {
  width: 186px;
}

.bar-graph-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 43%;
}

.body-nav-tabs {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-content: flex-start;
  padding-left: 54px;
}

.border-break {
  background-color: #EEF2F6;
  display: flex;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}

.button-head {
  background-color: #ffffff;
  border: solid 2px #E1E1E3;
  border-radius: 150%;
  height: 50px;
  width: 50px;
}

.button-icon {
  height: 20px;
  width: 20px;
}

.calendar-btn {
  width: 138px;
}

.captions {
  background-color: #FFFFFF;
  border: solid 2px #E1E1E3;
  border-radius: 30px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}

.circle-caption {
  width: 270px;
}

.circle-graph-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 57%;
}

.circle-graphs {
  height: 260px;
  width: 660px;
}

.design-check {
  width: 116px;
}

.down-arrow {
  height: 12px;
  width: 12px;
}

.executive-check {
  width: 136px;
}

.first-menu,
.second-menu {
  border-bottom: solid 1px;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-around;
  padding-left: 20px;
}

.graph-area {
  align-items: center;
  background-color: #EEF2F6;
  display: flex;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}

.graph-box {
  height: 430px;
}

.green-circle {
  height: 20px;
  margin-right: 7px;
  width: 15px;
}

.headline-area {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.header-buttons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 362px;;
}

.home-btn {
  width: 100px;
}

.hr-check {
  width: 202px;
}

.icon-box {
  align-items: center;
  border: solid 1px #f3f3f3;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 140px;
}

.icon-box:hover {
  background-color: #47A3F3;
  border:  solid 1px #47A3F3;
}

.icon-box:hover .search-icons {
  filter: brightness(100)
}

.jobs-btn {
  width: 90px;
}

.job-boards-btn {
  width: 158px;
}

.job-location {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
  padding-left: 60px;
  width: 60%;
}

.locations-btn {
  width: 150px;
}

.location-indicator {
  height: 20px;
  margin-right: 8px;
  width: 20px;
}

.location-text {
  display: flex;
  color: #A2ABBD;
  justify-content: space-between;
  margin: 0;
  width: 260px;
}

.menu-btn {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.menu-headers {
  color: #A2ABBD;
}

.menu-image {
  height: 25px;
  width: 25px;
}

.menu-image:hover {
  filter: brightness(100)
}

.menu-image:hover + .nav-items {
  filter: brightness(100)
}

.name-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 164px;
}

.name-title {
  color: #A2ABBD;
  font-size: 1rem;
}

.nav-items {
  color: #A2ABBD;
  font-size: 1rem;
  margin: 0;
}

.nav-tab {
  align-items: center;
  color: #A2ABBD;
  display: flex;
  font-weight: 700;
  justify-content: center;
  width: 125px;
}

.navigation-sidebar {
  background-color: #374050;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 7;
  padding: 40px 0 0 0;
}

.nav-profile-area {
  align-items: center;
  border-bottom: solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.not-checkbox-header {
  margin-bottom: 0;
}

.notifications-tab {
  margin-left: 30px;
}

.open-button {
  border-radius: 30px;
  display: flex;
  font-size: 1rem;
  height: 50px;
  justify-content: center;
  width: 118px;
}

.preview-text {
  color: #47A3F3;
}

.profile-pic {
  border-radius: 150%;
  width: 124px;
}

.resumes-btn {
  width: 126px;
}

.search-bar {
  background-image: url('Images/001-magnifying-glass.svg');
  background-repeat: no-repeat;
  background-position: 20px 35px;
  background-size: 30px 30px;
  font-size: 1.5rem;
  height: 95px;
  text-indent: 66px;
  width: 100%;
}

.search-bar::placeholder {
  color: #A2ABBD;
  font-family: 'Open Sans', sans-serif;;
}

.search-icons {
  height: 30px;
  width: 30px;
}

.search-menu {
  align-items: center;
  display: flex;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: space-around;
}

.social-btn {
  width: 116px;
}

.summary-tab {
  color: #000000;
  border-bottom: solid 4px #47A3F3;
  margin-left: 10px;
  margin-right: 30px;
  width: 76px;
}

.tasks-btn {
  width: 100px;
}

.third-menu {
  border-bottom: solid 1px;
  padding-left: 20px;
}

.users-btn {
  width: 110px;
}

.up-arrow {
  background-color: #ffffff;
  border-radius: 150%;
  height: 40px;
  width: 40px;
}

.user-location {
  align-items: center;
  display: flex;
}

.workflows-btn {
  width: 160px;
}